/* GLOBAL */

:root {
    --bg: #fefcf9;
    --card-bg: white;
    --text: #2c2c2c;
    --accent: #3964f5;
}

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 85.875px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

body.dark-mode {
    --bg: #121417;
    --card-bg: #1f2226;
    --text: #e2e8f0;
    --accent: #82aaff;
}